h1{
    margin-top: 100px;
}
body {
    margin-left: 150px;
    margin-right: 150px;
}

li{
    margin-left: 400px;
    margin-right: 400px;
}

a:hover{
  color:#FFD8FD;
}

a:link{
  color: #6BC5FF;
}

a:visited{
  color: #088AB7;
}
